@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.board {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

.square {
  height: 50%;
}
